@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    font-family: 'Monserrat', sans-serif;
    border-radius:0 !important;
    moz-border-radius:0;
}

body{font-family: 'Monserrat', sans-serif; background-color:#fff; }
@media screen and (max-width: 1440px) {
	#main{margin-left:auto; margin-right:auto; width:1000px;}
	#map-canvas { height: 350px;}
}

@media screen and (max-width:560px) {
	#main{margin-left:auto; margin-right:auto; width: 100%;}
	#map-canvas { height: 100%;}
}

/* para el mini header */
.elheader{
    background-color: #000000;
    color: #d9534f;
}
.elheader p {
    font-size: 12pt;x
    padding: 10px;
}
.navbar{
    margin-bottom: 0px;
}

.footer {
    height: 200px;
    background-color: #eee;
}

#main-registro{margin-left:auto; margin-right:auto; width:800px;}
#prueba{width:400px; margin-top:80px;}
.gris{color:#333;} .gris-2{color:#999;}

.back p{
	padding:14px;
}
#footer {
	height:60px;
	border-top:1px solid #420104;
	margin-bottom:0 !important;
	padding: 10px;
}

.fondo-tipo-1{
	background-color:#F2C64A;
}
.fondo-tipo-3 {
	background-color:#B83C26;
	color:#FFDC7A !important;
}
.fondo-tipo-3 img{
}
.fondo-tipo-4{
	background-color:#F17A4F;
	color:#000;
}
.fondo-tipo-5 {
	background-color:#DED442;
	color:#000;
}
.fondo-locales{
	background-color:#DB5E2F;
}
.fondo-info{
	background-color:#A3CB60;
}
.fondo-c{
	background-color:#BBD84A;
}
.contenedor-categorias{
	background-color:#FFDC7A;
	height:180px;
}
.local{
	height:200px;
	background-color:#CCC;
	overflow:hidden;
}

 .locales{font-size:60pt; color:#FFF; font-weight:700; margin:0; padding:0; line-height:0.8;}
 .back{display:block;}
 #precios{margin-top:20px; margin-bottom:25px;}
 
 .info{font-size:10pt;}
 .info,.loc,.tipo {padding:10px;}
 .aabb{height:60% !important; position: relative;}
 .bbcc{height:40% !important; position: relative;}
 
 /* Pagina Principal */
 .buscar {
	 display:block;
	 padding:30px;
	 font-size:20pt;
 }
 a.buscar-link {
	 display:block;
	 background-color:#A3CB60;
	 color:#FFF;
	 height:62px;
	 text-align: center;
	 vertical-align: middle;
	 line-height: 62px;  
	 font-size:18pt;
 }
 a.buscar-link:hover {
	 background-color:#D3D443;
 }
 
 .offset-superior {
	 margin-top: 25px !important;
     margin-bottom: 35px !important;
 }
 .site-title {
 color: #F2C64A;
 font-size: 32pt;
 font-family: 'Monserrat', Helvetica, sans-serif;
 }
 

 /* lista de mercados */
.mercado {
	position: relative;
	background-color:#F17A4F;
	width: 100%;
	height: 200px;
	display: block;
	overflow: hidden;
	font-weight: 700;
	font-family: 'Monserrat', Helvetica, sans-serif;
}
.mercado-link{
	position: absolute;
	bottom: 0;
	left: 5px;
	padding: 6px;
	color: #000;
	font-size: 14pt;
}
.mercado-link:hover {
	color: #fff;
}
.mercado:hover {
	background-color: #DB5E2F;
}
.rowded {
	margin-bottom: 30px;
}
/* delegaciones . ? */
.delegaciones {
	position: relative;
	background-color:#F5F5F5;
	width: 100%;
	height: 100px;
	display: block;
	font-family: 'Monserrat', Helvetica, sans-serif;
	font-size: 8pt;
}
.delegaciones:hover {
	background-color:#F6E2AD ;
}
.col-md-delegaciones {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 12.5%;
}
.col-md-tipos {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
}
#info{margin-top: 10px;}